<tabset [justified]="true">
  <tab heading="Justified">Justified content</tab>
  <tab heading="SJ">Short Labeled Justified content</tab>
  <tab heading="Long Justified">Long Labeled Justified content</tab>
  <tab heading="Long Justified">Long Labeled Justified content</tab>
</tabset>
<tabset #staticTabs>
    <tab heading="Static title">Static content</tab>
    <tab heading="Static Title 1">Static content 1</tab>
    <tab heading="Static Title 2">Static content 2</tab>
    <tab heading="Static Title 3" removable="true">Static content 3</tab>
</tabset>