
<app-home></app-home>
<app-according></app-according>
<p class="text-danger">注意，使用轮播图的时候须指明，父容器的宽度（等于图片的宽度，默认100%），我的电脑分辨率1920*1080，图片的宽度为900，差不多是宽度的一半，所以我设为col-md-6</p>
<app-carousel></app-carousel>
<app-collapse></app-collapse>
<app-date-picker></app-date-picker>
<app-drop-down>ng g</app-drop-down>
<app-modal></app-modal>
<!--<app-pagination></app-pagination>-->
<app-popover></app-popover>
<app-progressbar></app-progressbar>
<!--<app-rating></app-rating>-->
<!--<app-sortable></app-sortable>-->
<app-tabs></app-tabs>
<!--<app-time-picker></app-time-picker>-->
<app-tool-tip></app-tool-tip>
<app-type-head></app-type-head>